body {
    font-family: Arial, sans-serif;
    text-align: center;
}
/* styles.css */

.oculto {
    display: none;
    display: block;
}

.formulario, .gestion-stock, .tabla-inventario {
    margin: 20px;
}

input, button {
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.tabs {
    display: flex;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.contenido-tab {
    margin-top: 20px;
}


