button{
    background-color: rgb(231, 175, 194);
}


#InventarioTab{
    background-color: white;
}
th{
    background-color: rgba(246, 232, 188, 0.816);
}

#criterio{
    background-color: rgba(246, 232, 188, 0.816) ;
}

#selectSucursales{
    background-color: rgba(246, 232, 188, 0.816) ;
}

body {
    font-family: cursive;
    text-align: center;
    font-size: large;
}

.login-container{
    width: 1450px;
    height: 650px;
    margin-top: 200px;
}
/* styles.css */

.oculto {
    display: none;
    display: block;
}

.formulario, .gestion-stock, .tabla-inventario {
    margin: 20px;
}

input, button {
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.tabs {
    display: flex;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(230, 160, 194, 0.905);
    margin-right: 5px;
    border: 1px solid #ccc;
}

.contenido-tab {
    margin-top: 20px;
}

